#project-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.project {
  width: calc(50% - 8px);
}

.project .title {
  color: var(--gray-50);
  cursor: pointer;
  font-weight: 500;
  border-bottom: 2px solid var(--gray-100);
  margin-bottom: 50px;
  transition: opacity 0.3s ease-in;
}

.project .globe {
  color: var(--gray-50);
  margin-left: 8px;
  transition: opacity 0.3s ease-in;
}

.project .title:hover,
.project .globe:hover {
  opacity: 85%;
}

.project .description {
  color: var(--gray-100);
  margin: 12px 0;
  max-width: 485px;
}

@media screen and (max-width: 900px) {
  #project-list {
    flex-direction: column;
  }

  .project {
    width: 100%;
  }

  .project .description {
    max-width: 100%;
  }
}