@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

:root {
  --gray-50: #fafaf9;
  --gray-100: #a8a29e;
  --gray-200: #78716c;
  --gray-300: #44403c;
  --gray-400: #0c0a09;
  --primary: #fafaf9;
  --secundary: #44403c;
}

.light {
  --gray-50: #0c0a09;
  --gray-100: #44403c;
  --gray-200: #78716c;
  --gray-300: #a8a29e;
  --gray-400: #fafaf9;
  --primary: #0c0a09;
  --secundary: #44403c;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  color: var(--gray-100);
  background-color: var(--gray-400);
  min-width: 320px;
  font-size: 0.9rem;
  scroll-behavior: smooth;
}

header,
main,
footer {
  width: 100%;
  padding: 0 25%;
}

section {
  margin-bottom: 36px;
}

button {
  border: none;
}

.section-title {
  color: var(--gray-50);
  margin-block: 12px;
  letter-spacing: 1px;
}


@media screen and (max-width: 700px) {

  header,
  main,
  footer {
    padding: 0 48px;
  }

  section {
    margin-bottom: 24px;
  }
}

@media only print and (orientation: portrait) {

  header,
  main,
  footer {
    padding: 0 10%;
  }
}

@media screen and (min-width: 1170px) {

  header,
  main,
  footer {
    padding: 0 24%;
  }
}

@media screen and (min-width: 1480px) {

  header,
  main,
  footer {
    padding: 0 34%;
  }
}
